/* ============================= */
/* BASE */
/* ============================= */

body {
    margin: 0;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif;
    background: #f8f9fc;
    color: #1c1c1e;
}

/* ============================= */
/* CONTAINER */
/* ============================= */

.workout-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

/* ============================= */
/* HEADER */
/* ============================= */

.workout-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.back-link {
    text-decoration: none;
    color: #6c5ce7;
    font-weight: 500;
}

/* ============================= */
/* MEDIA */
/* ============================= */

.exercise-media {
    background: #ffffff;
    border-radius: 18px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,.05);
    margin-bottom: 20px;
}

.exercise-media img {
    max-width: 100%;
    border-radius: 14px;
}

/* ============================= */
/* MAIN INFO */
/* ============================= */

.exercise-main-info h3 {
    margin: 0 0 8px 0;
    font-size: 22px;
}

.exercise-meta {
    font-size: 14px;
    color: #3B6CFF;
    margin-bottom: 12px;
}

.exercise-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    background: #FDBA2D;
    color: #FFFFFF;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 13px;
}

/* ============================= */
/* ACCORDION */
/* ============================= */

.accordion details {
    background: #ffffff;
    border-radius: 14px;
    padding: 12px;
    margin-bottom: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,.04);
}

.accordion summary {
    font-weight: 600;
    cursor: pointer;
}

.accordion ul {
    margin: 10px 0 0 16px;
    padding: 0;
    font-size: 14px;
    color: #444;
}

/* ============================= */
/* BUTTON */
/* ============================= */

.exercise-actions {
    margin-top: 25px;
}

.btn-primary {
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    border: none;
    background:#EDEDED;
    color: #5B2BE0;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-primary:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(108, 92, 231, 0.25);
}

.favorite-btn.active {
    background: #5B2BE0;
    color: white;
}