{% extends "layout.html" %}

{% block content %}

<section class="intent-rail">
  <h2 class="intent-title">Planes para ti</h2>

  <div class="intent-track" id="intentTrack">

    <a href="/mis-rutinas" class="intent-card active">
      <img src="/static/img/ejercicio.jpeg" alt="mis-rutinas">
      <span>Mis Rutinas de Ejercicio</span>
    </a>

    <a href="/intent/alimentacion" class="intent-card">
      <img src="/static/img/alimentacion.jpeg" alt="Alimentación">
      <span>Mis Planes de Alimentación</span>
    </a>

    <a href="/intent/diversion" class="intent-card">
      <img src="/static/img/planes.jpeg" alt="Diversión">
      <span>Un Poco de Diversión</span>
    </a>

    <a href="/intent/restaurantes" class="intent-card">
      <img src="/static/img/familia.jpeg" alt="Familia">
      <span>Salir a Comer</span>
    </a>

    <a href="/intent/mascotas" class="intent-card">
      <img src="/static/img/mascotas.png" alt="Mascotas">
      <span>Beneficios Mascotas</span>
    </a>

    <a href="/intent/cafe" class="intent-card">
      <img src="/static/img/cafe.png" alt="Cafe">
      <span>Ir por un Café</span>
    </a>

    <a href="/intent/wellness" class="intent-card">
      <img src="/static/img/bienestar.jpeg" alt="Bienestar">
      <span>Mas bienestar</span>
    </a>

    <a href="/intent/viajes" class="intent-card">
      <img src="/static/img/viajes.png" alt="Bienestar">
      <span>Quiero viajar</span>
    </a>

  </div>
</section>

<section>
  <h2>Beneficios Recientes</h2>
  <div class="cards">
    {% for benefit in recomendados %}
      {% include "partials/benefit_card.html" %}
    {% endfor %}
  </div>
</section>

{% endblock %}