{% extends "layout.html" %}

{% block content %}

<section class="intent-rail">
  <h2 class="intent-title">Planes para ti</h2>

  <div class="intent-track" id="intentTrack">

    <a href="/mis-rutinas" class="intent-card active">
      <img src="/static/img/ejercicio.jpeg" alt="mis-rutinas">
      <span>Mis Rutinas de Ejercicio</span>
    </a>

    <a href="/intent/alimentacion" class="intent-card">
      <img src="/static/img/alimentacion.jpeg" alt="Alimentación">
      <span>Alimentación</span>
    </a>

    <a href="/intent/planes" class="intent-card">
      <img src="/static/img/planes.jpeg" alt="Planes">
      <span>Planes</span>
    </a>

    <a href="/intent/familia" class="intent-card">
      <img src="/static/img/familia.jpeg" alt="Familia">
      <span>Familia</span>
    </a>

    <a href="/intent/bienestar" class="intent-card">
      <img src="/static/img/bienestar.jpeg" alt="Bienestar">
      <span>Bienestar</span>
    </a>

  </div>
</section>

<section>
  <h2>Beneficios Recientes</h2>
  <div class="cards">
    {% for benefit in recomendados %}
      {% include "partials/benefit_card.html" %}
    {% endfor %}
  </div>
</section>

{% endblock %}